  .section {
    color: black;
    background-color: #E5EAEF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }

  .content {
    align-self: flex-end;
    width: 1280px;
    height: 400px;
    background-color: #a52a2a;
    animation: animate 10s linear 0.1s infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: path(
        "M0 173L22.8 172.2C45.7 171.3 91.3 169.7 137 171C182.7 172.3 228.3 176.7 274 198.7C319.7 220.7 365.3 260.3 411.2 274C457 287.7 503 275.3 548.8 269.5C594.7 263.7 640.3 264.3 686 265.3C731.7 266.3 777.3 267.7 823 256.2C868.7 244.7 914.3 220.3 937.2 208.2L960 196L960 401L937.2 401C914.3 401 868.7 401 823 401C777.3 401 731.7 401 686 401C640.3 401 594.7 401 548.8 401C503 401 457 401 411.2 401C365.3 401 319.7 401 274 401C228.3 401 182.7 401 137 401C91.3 401 45.7 401 22.8 401L0 401Z"
      );
    }
    25% {
      clip-path: path(
        "M0 194L22.8 191.3C45.7 188.7 91.3 183.3 137 201.3C182.7 219.3 228.3 260.7 274 263.5C319.7 266.3 365.3 230.7 411.2 231C457 231.3 503 267.7 548.8 279.7C594.7 291.7 640.3 279.3 686 281.5C731.7 283.7 777.3 300.3 823 301.5C868.7 302.7 914.3 288.3 937.2 281.2L960 274L960 401L937.2 401C914.3 401 868.7 401 823 401C777.3 401 731.7 401 686 401C640.3 401 594.7 401 548.8 401C503 401 457 401 411.2 401C365.3 401 319.7 401 274 401C228.3 401 182.7 401 137 401C91.3 401 45.7 401 22.8 401L0 401Z"
      );
    }
    50% {
      clip-path: path(
        "M0 243L22.8 251.3C45.7 259.7 91.3 276.3 137 268.2C182.7 260 228.3 227 274 211.7C319.7 196.3 365.3 198.7 411.2 217.7C457 236.7 503 272.3 548.8 280.5C594.7 288.7 640.3 269.3 686 249.8C731.7 230.3 777.3 210.7 823 200C868.7 189.3 914.3 187.7 937.2 186.8L960 186L960 401L937.2 401C914.3 401 868.7 401 823 401C777.3 401 731.7 401 686 401C640.3 401 594.7 401 548.8 401C503 401 457 401 411.2 401C365.3 401 319.7 401 274 401C228.3 401 182.7 401 137 401C91.3 401 45.7 401 22.8 401L0 401Z"
      );
    }
    75% {
      clip-path: path(
        M0 255L22.8 258.8C45.7 262.7 91.3 270.3 137 260.3C182.7 250.3 228.3
          222.7 274 227C319.7 231.3 365.3 267.7 411.2 262.7C457 257.7 503
          211.3 548.8 202.5C594.7 193.7 640.3 222.3 686 235C731.7 247.7
          777.3 244.3 823 231.3C868.7 218.3 914.3 195.7 937.2 184.3L960
          173L960 401L937.2 401C914.3 401 868.7 401 823 401C777.3 401 731.7
          401 686 401C640.3 401 594.7 401 548.8 401C503 401 457 401 411.2
          401C365.3 401 319.7 401 274 401C228.3 401 182.7 401 137 401C91.3
          401 45.7 401 22.8 401L0 401Z
      );
    }
  }